@model EntityLayer.Concrete.User

@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_KeydataLayout.cshtml";

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}

<h1>Yeni Kullanıcı Ekle</h1>


