@using EntityLayer.Concrete
@model List<User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_KeydataLayout.cshtml";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kullanıcılar</h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                    @foreach (var item in Model)
                    {
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                            <div class="card bg-light">
                                <div class="card-header text-muted border-bottom-0">
                                </div>
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>@item.UserName @item.UserSurname</b></h2>

                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-angry"></i></span> Görevi:&nbsp; @item.UserTitle</li>
                                                <br />
                                                @*<li class="small"><span class="fa-li"><i class="fas fa-lg fa-id-badge"></i></span> Personel ID: &nbsp; @item.UserID </li>*@
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="~/AdminLTE-3.0.4/dist/img/Keydata.png" alt="" class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="/User/DeleteUser/@item.UserID" class="btn btn-sm bg-danger" >
                                            <i class="fas fa-trash"></i>                                         
                                        </a>
                                        <a href="/User/EditUser/@item.UserID" class="btn btn-sm bg-teal">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a href="/User/UserProject/@item.UserID" class="btn btn-sm btn-primary">
                                            <i class="fas fa-dollar-sign"></i> Satışlar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
    <br />
    <!-- /.content-wrapper -->
    <button class="btn btn-success" data-toggle="modal" data-target="#modal1">Yeni Kullanıcı Ekle</button>
    <div class="modal" id="modal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Yeni Kullanıcı Ekle</h3>
                </div>
                <form method="post" action="/User/AddUser/">
                    <div class="modal-body">
                        <label>Kullanıcı Adı</label>
                        <input type="text" name="UserName" class="form-control" />
                        <br />
                        <label>Kullanıcı Soyadı</label>
                        <input type="text" name="UserSurname" class="form-control" />
                        <br />
                        <label>Kullanıcı Unvanı</label>
                        <input type="text" name="UserTitle" class="form-control" />
                        <br />
                        <label>Kullanıcı Eposta</label>
                        <input type="text" name="UserEmail" class="form-control" />
                        <br />
                        <button class="btn btn-info">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <br />
    <br />
    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Developed By</b> Baran SÖYLEMEZ
        </div>
        <strong>Copyright &copy; 2023 <a href="http://www.keydata.com.tr">Keydata Bilişim Teknolojileri</a>.</strong> All rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
</body>
</html>

